
/*
 * Footer
 */
 .footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.footer p:last-child {
  margin-bottom: 0;
}

.nav-link {
  font-size: 2rem;
}

.slide {
  flex: 1;
}

.carousel-inner {
  background: #3b453f;
}

.hero {
  /* max-height: 500px; */
}

.carousel-item, .carousel-item.active {
  align-items: center;
}

.slide1 {
  min-height: 1000px;
  background: url(./img/DSC_4143.jpg) no-repeat;
  background-size: contain;
  background-position: center;
}

.slide2 {
  min-height: 1000px;
  background: url(./img/DSC_4297.jpg) no-repeat;
  background-size: contain;
  background-position: center;
}

.slide3 {
  min-height: 1000px;
  background: url(./img/DSC_4614.jpg) no-repeat;
  background-size: contain;
  background-position: center;
}

.slide4 {
  min-height: 1000px;
  background: url(./img/DSC_4929.jpg) no-repeat;
  background-size: contain;
  background-position: center;
}

.navbar {
  background-color: #003215 !important;
}