
/*
 * Footer
 */
 .footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.footer p:last-child {
  margin-bottom: 0;
}

.nav-link {
  font-size: 2rem;
}

.carousel-inner {
  height: 500px;
}

.item.active {
  height: 500px!important;
}

.item img {
  /* object-fit: contain; */
  height: 100%!important;
}